@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Uniwersytet Gdański<br />
    Jana Bażyńskiego 1A, 80-952<br />
    80-952, Gdańsk<br />
    <abbr title="Phone">Tel:</abbr>
    58 523 24 00
</address>

<address>
    <strong>Informacja na temat studiów:</strong>   <a href="mailto:rekrutacja@ug.edu.pl">rekrutacja@ug.edu.pl</a>
</address>